<html>
    <head>
    <link rel="stylesheet" href="/css/main.css" >

    </head>
    <body>
        <header class="main-header">
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item"><a class="active" href="/welcomepage">Shop</a></li>
                    <li class="main-header__item"><a href="/addproduct">Add Product</a></li>
                <li class="main-header__item"><a href="/contact">contact us</a></li>
                </ul>
            </nav>
        </header>
        <form  action="/contact" method="POST">
            <input type="text" placeholder="name">
            <input type="text" placeholder="mail">
            <input type="text" placeholder="phone number">
            <button>Submit</button>

        </form>
    </body>
</html>